@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Orbitron', sans-serif;
}

body{
    background:#05070d;
    overflow:hidden;
    color:white;
}

/* CONNECT PAGE */

.connect-page{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    radial-gradient(circle at top,#0d1324,#05070d 60%);
}

.connect-card{
    width:430px;
    padding:35px;
    background:#0b0f18;
    border-radius:25px;
    border:1px solid #1a2233;
    box-shadow:0 0 40px rgba(0,255,255,0.03);
}

.connect-card h1{
    font-size:48px;
    margin-bottom:20px;
    font-weight:normal;
    letter-spacing:3px;
    color:white;
    text-shadow:0 0 20px rgba(255,255,255,0.08);
}

.redx{
    color:#ff2e63;
    text-shadow:0 0 15px #ff2e63;
}

.desc{
    color:#616b7f;
    font-size:16px;
    line-height:1.6;
    margin-bottom:35px;
    font-family:'Orbitron', sans-serif;
letter-spacing:1px;
}

label{
    display:block;
    margin-bottom:10px;
    margin-top:22px;
    color:#6b7280;
    letter-spacing:3px;
    font-size:13px;
}

.connect-card input{
    width:100%;
    background:#05070d;
    border:1px solid #151d2b;
    border-radius:15px;
    padding:16px;
    color:#d1d5db;
    font-size:15px;
    outline:none;
}

.connect-card input::placeholder{
    color:#4b5563;
}

.small{
    color:#5f6778;
    margin-top:18px;
    line-height:1.5;
    font-size:13px;
}

.connect-card button{
    width:100%;
    margin-top:30px;
    background:#00d9ff;
    border:none;
    border-radius:15px;
    padding:16px;
    color:black;
    font-size:18px;
    cursor:pointer;
    letter-spacing:2px;
    font-weight:bold;
    transition:0.2s;
}

.connect-card button:hover{
    opacity:0.9;
    transform:scale(1.02);
}

/* CHAT PAGE */

.chat-page{
    display:none;
    width:100%;
    height:100vh;
    background:#05070d;
    position:relative;
}

.topbar{
    width:100%;
    height:80px;
    border-bottom:1px solid #151d2b;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    background:#0b0f18;
}

.roomtext{
    color:#5f6778;
    font-size:18px;
    letter-spacing:2px;
}

.roomtext span{
    color:#00d9ff;
}

.clearbtn{
    background:#0f1420;
    border:1px solid #1d2637;
    color:#7c8597;
    border-radius:12px;
    padding:12px 20px;
    font-size:14px;
    cursor:pointer;
}

.start{
    text-align:center;
    margin-top:20px;
    color:#596273;
    font-size:14px;
    letter-spacing:2px;
}

#messages{
    width:100%;
    height:calc(100vh - 190px);
    overflow-y:auto;
    padding:30px;
}

/* RIGHT MESSAGE */

.message{
    width:fit-content;
    max-width:350px;
    margin-left:auto;
    margin-bottom:20px;
    background:linear-gradient(135deg,#7b4dff,#6a3dff);
    border-radius:18px;
    padding:16px;
    animation:fade 0.2s ease;
}

/* LEFT MESSAGE */

.message.left{
    margin-left:0;
    margin-right:auto;
    background:#111827;
}

.message-user{
    font-size:12px;
    margin-bottom:8px;
    color:#d1d5db;
}

.message-text{
    font-size:16px;
    line-height:1.5;
    word-break:break-word;
}

.chat-input{
    position:absolute;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:12px;
}

.chat-input input{
    width:72%;
    background:#0f1420;
    border:none;
    border-radius:15px;
    padding:18px;
    color:white;
    font-size:15px;
    outline:none;
}

.chat-input input::placeholder{
    color:#5f6778;
}

.chat-input button{
    background:#00d9ff;
    border:none;
    border-radius:15px;
    padding:0 28px;
    font-size:15px;
    cursor:pointer;
    color:black;
    font-weight:bold;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}