<!-- CHAT PAGE -->

<div class="chat-page" id="chat-page">

    <div class="topbar">

        <div class="roomtext">
            ROOM // <span id="room-name"></span>
        </div>

        <button class="clearbtn" onclick="clearChat()">
            CLEAR
        </button>

    </div>

    <div class="start">
        — Anonymous Connection Established —
    </div>

    <div id="messages"></div>

    <div class="chat-input">

        <input
            type="text"
            id="messageInput"
            placeholder="Type Message..."
        >

        <button onclick="sendMessage()">
            SEND
        </button>

    </div>

</div>