<!-- CHAT PAGE -->

<div class="chat-page" id="chat-page">

    <div class="topbar">

        <div class="roomtext">
            ROOM // <span id="room-name"></span>
        </div>

        <div class="top-actions">

            <button class="callbtn" onclick="startVoiceCall()">
                📞
            </button>

            <button class="videobtn" onclick="startVideoCall()">
                📹
            </button>

            <button class="clearbtn" onclick="clearChat()">
                CLEAR
            </button>

        </div>

    </div>

    <div class="start">
        — Anonymous Connection Established —
    </div>

    <div id="messages"></div>

    <div class="chat-input">

        <input
            type="text"
            id="messageInput"
            placeholder="Type Message..."
        >

        <button onclick="sendMessage()">
            SEND
        </button>

    </div>

</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script src="/static/script.js"></script>

</body>

</html>